name: CI

# This setup assumes that you run the unit tests with code coverage in the same
# workflow that will also print the coverage report as comment to the pull request.
# Therefore, you need to trigger this workflow when a pull request is (re)opened or
# when new code is pushed to the branch of the pull request. In addition, you also
# need to trigger this workflow when new code is pushed to the main branch because
# we need to upload the code coverage results as artifact for the main branch as
# well since it will be the baseline code coverage.
#
# We do not want to trigger the workflow for pushes to *any* branch because this
# would trigger our jobs twice on pull requests (once from "push" event and once
# from "pull_request->synchronize")
# on:
#   push:
#     branches:
#       - 'test'

jobs:
  deploy_to_orisound:
    name: "Deploy to test(orisound)"
    runs-on: ubuntu-latest
    steps:
      - name: Install SSH key
        run: |
          mkdir -p ~/.ssh
          echo "key:$SSH_PASSWORD" 
          echo ${{ secrets.SSH_ORISOUND_PASSWORD }}
          ssh-keyscan -t rsa 172.212.107.86 >> ~/.ssh/known_hosts
        env:
          SSH_PASSWORD: ${{ secrets.SSH_ORISOUND_PASSWORD }}

      - name: Execute commands on Azure VM
        run: |
          sshpass -p "$SSH_PASSWORD" ssh -o StrictHostKeyChecking=no tiger@172.212.107.86 << 'EOF'
            echo "Hello from Azure VM"
            cd one-api
            git checkout test 
            git pull
            go mod download
            go build -ldflags "-s -w" -o one-api
            chmod u+x one-api
            sudo systemctl restart one-api
            sudo systemctl status one-api
          EOF
        env:
          SSH_PASSWORD: ${{ secrets.SSH_ORISOUND_PASSWORD }}

